<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <error-page>
        <exception-type>amn.analytics.common.DataAccessException</exception-type>
        <location>/ExceptionHandler</location>
    </error-page>
    <error-page>
        <exception-type>amn.analytics.common.ProcessingException</exception-type>
        <location>/ExceptionHandler</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <!--<exception-type>amn.analytics.common.ProcessingException</exception-type>-->
        <location>/ExceptionHandler</location>
    </error-page>
    <context-param>
        <param-name>DEFAULT_DB_SCHEMA</param-name>
        <param-value>data_analytics</param-value>
    </context-param>
    <context-param>
        <param-name>MAX_CONSOLE_LOG_STMT_LENGTH</param-name>
        <param-value>1000</param-value>
    </context-param>
    <!--    <filter>
        <filter-name>CommonScriptInjectFilter</filter-name>
        <filter-class>amn.analytics.common.CommonScriptInjectionFilter</filter-class>
    </filter>-->
    <filter>
        <description>It retrieves user's SSO login from request and Fetches user accessible menus from DB.</description>
        <filter-name>CommonFilter</filter-name>
        <filter-class>amn.analytics.common.CommonFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ResponseCompressionFilter</filter-name>
        <filter-class>amn.analytics.common.ResponseCompressionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ResourceCacheFilter</filter-name>
        <filter-class>amn.analytics.common.ResourceCacheFilter</filter-class>
    </filter>
    <!--    <filter-mapping>
        <filter-name>CommonScriptInjectFilter</filter-name>
        <url-pattern>/common/js/common.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>-->
    <filter-mapping>
        <filter-name>CommonFilter</filter-name>
        <url-pattern>/common/mainpage.jsp</url-pattern>
        <url-pattern>/main</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResponseCompressionFilter</filter-name>
        <url-pattern>/css/libs/*</url-pattern>
        <url-pattern>/js/libs/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResourceCacheFilter</filter-name>
        <!--<url-pattern>*.js</url-pattern>-->
        <url-pattern>/css/libs/*</url-pattern>
        <url-pattern>/js/libs/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>ExceptionHandler</servlet-name>
        <servlet-class>amn.analytics.common.ExceptionHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainJsp</servlet-name>
        <jsp-file>/common/mainpage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CommonResource</servlet-name>
        <servlet-class>amn.analytics.common.WebResource</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>amn.analytics.input.FileUploadServlet</servlet-class>
        <init-param>
            <param-name>dataset_upload_directory</param-name>
            <param-value>D:\Personal\Projects\US\data</param-value>
        </init-param>
        <init-param>
            <param-name>file_default_name</param-name>
            <param-value>noname</param-value>
        </init-param>
        <init-param>
            <param-name>controlfile_upload_directory</param-name>
            <param-value>D:\Personal\Projects\US\control</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DatasetOperationsServlet</servlet-name>
        <servlet-class>amn.analytics.input.DatasetOperationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizationServlet</servlet-name>
        <servlet-class>amn.analytics.visualization.VisualizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>amn.analytics.dashboard.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainJsp</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExceptionHandler</servlet-name>
        <url-pattern>/ExceptionHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommonResource</servlet-name>
        <url-pattern>/CommonResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatasetOperationsServlet</servlet-name>
        <url-pattern>/DatasetOperationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizationServlet</servlet-name>
        <url-pattern>/VisualizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <!--<welcome-file>common</welcome-file>-->
        <welcome-file>main</welcome-file>
    </welcome-file-list>
</web-app>
